{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Azure.Core": "Warning"
    }
  },
  "ConnectionStrings": {
    "PostgresConnection": "Username=postgres;Password=postgres;Server=localhost;Database=postgres",
    "CryotoCommunicationsServiceConnectionString": "endpoint=https://cryotocommunicationservices.communication.azure.com/;accesskey=base64key"
  },
  "AllowedHosts": "*",
  "AllowedOrigins": "http://localhost:5173;https://cryotoclient.azurewebsites.net;https://cryotoclientprod.azurewebsites.net;https://cryotoclienttesting.azurewebsites.net",
  "queueName":"cryoto-update-balance",
  "SolanaBalanceLowLimit":0.09,
  "SolanaTokenBalanceLowLimit":10000,
  "LowBalanceAdminEmail":"admin@kpmglhx.onmicrosoft.com",
  "publicKey": "HgRdHMtBLZRfLjbjyq8d38LFx3fC2DbVgzjUbKx4VQ4Y",
  "ObjectID": "44b13614-c89c-409a-9b13-dca5f468e06b",
  "ResourceId": "29001a9c-030c-4568-9acf-5df587545d5f"
}
